mat-grid-list {
    width: 210px;
}

.calendar-month-grid {
    padding-bottom: 20px !important;
}

.gray {
    background-color: lightgray;
}

.green {
    background-color: #C1DF8D;
}

.yellow {
    background-color: yellow;
}

.orange {
    background-color: orange;
}

.weekday-header {
    background-color: rgba(233, 245, 202, 0.5);
}