mat-grid-list {
    width: 210px;
}

.calendar-month-grid {
    padding-bottom: 20px !important;
}

.gray {
    background-color: lightgray;
}

.white {
    background-color: white;
}

.yellow {
    background-color: yellow;
}

.pink {
    background-color: lightpink;
}